name: events-demo-workflow
on:
    pull_request:
        types:
            - opened
        branches:
            - 'main'
            - 'dev-*'
            - 'feat/**'
    workflow_dispatch:
    push:
        branches:
            - 'main'
            - 'dev-*'   # this dev-man
            - 'feat/**' # this feat/dc/ssf-fvf-d/sd
        # paths:
        #     - 'src/*'
        paths-ignore:
            - '.github/workflows/*'
jobs:
    deploy:
        runs-on: ubuntu-lates
        steps:
            - name: Output event data
              run: echo "${{ toJSON(github.event) }}"

            - name: get code
              uses: actions/checkout@v3

            - name: setting up nodeJS
              uses: actions/setup-node@v3
              with:
                node-version: 18

            - name: setting up nodeJS
              run: npm ci

            - name: running test
              run: npm run test

            - name: running build
              run: npm run build

            - name: deploying
              run: echo "deploying....."

        